.space {
  width: 100%;
  height: 100vh;
  background-image: url(../../../assets/outerSpace.jpg);
}

.space .buttonPlanet {
  width: 120px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 3px;
}

.space .buttonRoutes {
  width: 270px;
  height: 50%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 3px;
}

.space .buttonRoutes>button {
  margin: 0 5px;
}

.rocket {
  height: 90%;
  background: url(../../../assets/spaceship.svg) no-repeat center;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rocket path {
  fill: white;
}

.space .rocket .task1 {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.space .rocket .task1 .motor {
  width: 10%;
  border: 3px solid red;
  padding: 2%;
  margin-right: 2%;
}

.space .rocket .task1 .cabina {
  width: 10%;
  height: 10%;
  border: 3px solid red;
  padding: 1%;
  margin-left: 2%;
}

.space .rocket .task1 .blocking {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  position: absolute;
}

.tresA {
  width: auto;
  position: absolute;
  bottom: 0;
  right: 1%;
}

.tresA>img {
  float: right;
  width: 70%;
}

.status {
  height: 10%;
  text-align: center;
  color: white;
}

.status>h3 {
  padding-top: 2%;
  text-shadow: 0px 0px 20px #FFF;
  font-size: 24px;
}
