<!-- ¡Créditos al autor por la imagen del cohete! <a href='http://dryicons.com/icon/spaceship-icon-5255'> Icon by Dryicons </a> -->
<div class="space">
  <section class="status">
    <h3>¡Planeta X avistado a Y grados!</h3>
  </section>
  <section class="rocket">

    <!-- Inserción de componentes reto 1, inicio -->
    <div class="task1">
      <div class="motor"> <app-motor></app-motor> </div>
      <div class="cabina"> <app-cabina></app-cabina> </div>
      <div class="blocking"></div>
    </div>
    <!-- Inserción de componentes reto 1, fin -->

  </section>
  <div class="tresA">
    <img src="/assets/logo.png" alt="">
  </div>
</div>
