<!-- ¡Créditos al autor por la imagen del cohete! <a href='http://dryicons.com/icon/spaceship-icon-5255'> Icon by Dryicons </a> -->
<div class="space">
  <p>Holas</p>
  <ul *ngFor="let d of data$ | async">
    <li></li>
    <li>{{ d.msg }}</li>
    <li>{{ d.images }}</li>
    <li>{{ d.images.planet }}</li>
    <li>{{ d.images.planet.degrees }}</li>
    <li>{{ d.images.planet.img }}</li>
  </ul>
  <!--<ul *ngFor="let d of data">
    <li>{{ d.id }}</li>
    <li>hola: {{ d.title }}</li>
  </ul> -->
  <!--<section class="status">
    <ul>
      <li>lalala</li>
      <li>Hola </li>
    </ul>
    <h3>¡Planeta a avistado a Y grados!</h3>
  </section>
  <section class="rocket"></section>
  <div class="tresA">
    <img src="/assets/logo.png" alt="">
  </div> -->
</div>
