<!-- ¡Créditos al autor por la imagen del cohete! <a href='http://dryicons.com/icon/spaceship-icon-5255'> Icon by Dryicons </a> -->
<div class="space">

  <section class="status">
    <h3>¡Planeta {{ planet | uppercase }} avistado a {{ degrees | number: '1.4-4' }} grados!</h3>
  </section>
  <section class="rocket"></section>
  <div class="tresA">
    <img src="/assets/logo.png" alt="">
  </div>

  <div class="buttonPlanet">
    <div class="alert alert-info" role="alert">
      PLANETAS
    </div>
    <button
      *ngFor="let p of planets"
      type="button"
      class="btn btn-outline-info btn-block"
      [class.selected]="p === selectedPlanet"
      (click)="selectPlanet(p)">{{ p.planet | uppercase }}
    </button>
  </div>

  <div class="buttonRoutes">
    <button [routerLink]="['/inicio']" type="button" class="btn btn-outline-primary">Inicio</button>
    <button [routerLink]="['/control']" type="button" class="btn btn-outline-primary">Control</button>
    <button [routerLink]="['/planetas']" type="button" class="btn btn-outline-primary">Planetas</button>
  </div>

  <div class="imagePlanet"><img src={{img}}/></div>

</div>
